@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mb-5">
    <h1 class="display-2 mb-5">Welcome to Quizzy</h1>
   <a href="/Quizzes/ListQuizzes" class="btn btn-outline-success mx-4 px-4">Choose a quiz you like</a>
   <a href="/Questions/Create" class="btn btn-outline-primary mx-4 px-4">Create questions</a>
</div>
